<div id="masterwrapper" class="row large-12 columns">
<div class="row" id="yieldwrapper">
<h1>Brands:</h1>
	<div id="indexwrapper" class="row large-12 columns float-left">
			<% @brands.each do |brand| %>
            <%= link_to brand_path(brand) do %>
			<%= image_tag(brand.brandav)%>
			<% end %>
			<% end %>
	</div>

<%= link_to "Add brand", new_brand_path %>
</div>
</div>