<%= stylesheet_link_tag "comparestyle" %>
<div id="masterwrapper" class="row large-12 columns">
<div class="row" id="yieldwrapper">

<div class="row large-12 columns show-for-large">
	<div id="devicelabel1" class="row large-5 columns float-left">
				<div id="thumbswrap" class="row large-10 columns float-right">
						<div id="thumbs">
						    <% @images.each do |image| %>
						    <div class="imgsm1 compare1 swipebox">
		                    <%= image_tag(image) %>
		                    </div>
						    <% end %>
						</div>
				</div>



		<%= link_to brand_path(@device.brand) do %><%= image_tag(@device.brand.brandav, :id => "device1brandimg") %><% end %>
	</div>
	<div id="versus" class="row large-2 columns float-left">VS</div>
	<div id="devicelabel2" class="row large-5 columns float-right">
				<div id="thumbswrap2" class="row large-10 columns float-left">
						<div id="thumbs2">
						    <% @images2.each do |image| %>
						    <div class="imgsm2 compare2 swipebox">
		                    <%= image_tag(image) %>
		                    </div>
						    <% end %>
						</div>
				</div>



		<%= link_to brand_path(@device2.brand) do %><%= image_tag(@device2.brand.brandav, :id => "device2brandimg", :class => "float-right") %><% end %>
	</div>
</div>


<div class="row large-6 columns float-left">
<h1 class="row large-12 columns float-left hide-for-medium"><%= @device.brand.name %> <%= @device.name %></h1>
        <div id="gallerycont" class="row large-4 small-12 columns float-left">

            <div id="gallerywrapper">

                <% if @device.thumbnail.present? %>
				<div id="gallery" class="row large-12 columns imgsm1 swipebox">
				    <div id="largeImage" style="background-image: url('<%= @device.thumbnail.url %>')"><%= image_tag(@device.thumbnail) %></div>
				</div>
                <% else %>
				<div id="gallery" class="row large-12 columns">
				    <div id="largeImage" class="blank"><%= image_tag('nophotobig.png') %></div>
				</div>
                <% end %>
			</div>
		<% if @reviews.present? %>
	        <div id="rating-details" class="row large-12 columns float-left">

				<div class="rating-speed row large-12 columns float-left">
					<div class="rating-detail-bar row large-12 columns float-left" style="width: <%= @speed_rating %>%;"><span class="rating-detail-bar-name">Speed</span>
					</div><br>
				</div>

				<div class="rating-durability row large-12 columns float-left">
					<div class="rating-detail-bar row large-12 columns float-left" style="width: <%= @durability_rating %>%;"><span class="rating-detail-bar-name">Durability</span>
					</div><br>
				</div>

				<div class="rating-display row large-12 columns float-left">
					<div class="rating-detail-bar row large-12 columns float-left" style="width: <%= @display_rating %>%;"><span class="rating-detail-bar-name">Display</span>
					</div><br>
				</div>

				<div class="rating-camera row large-12 columns float-left">
					<div class="rating-detail-bar row large-12 columns float-left" style="width: <%= @camera_rating %>%;"><span class="rating-detail-bar-name">Camera</span>
					</div><br>
				</div>

				<div class="rating-price-quality row large-12 columns float-left">
					<div class="rating-detail-bar row large-12 columns float-left" style="width: <%= @price_quality_rating %>%;"><span class="rating-detail-bar-name">Price / Quality</span>
					</div><br>
				</div>
	        
	        </div>
	    <% else %>
		        <% if user_signed_in? %>
			        <div id="reviewblank" class="row large-12 columns float-left">
			        	<h3>Ever owned this device?</h3><%= link_to "Click here to post your review.", device_path(@device) %>
			        </div>
		        <% else %>
			        <div id="reviewblank" class="row large-6 columns float-left">
			        	<h3>Ever owned this device?</h3><%= link_to "Log in to share your opinion.", new_user_session_path %>
			        </div>
			    <% end %>
	    <% end %>
        </div>

				<script type="text/javascript">
					$(document).ready(function(){
					    $("#leftarrow").click(function(){
					        $("#thumbs").animate({scrollLeft: "-="+100});
					    });
					    $("#rightarrow").click(function(){
					        $("#thumbs").animate({scrollLeft: "+="+100});
					    });        
					});

					$( '.imgsm1' ).click( function( e ) {
						e.preventDefault();
						thisimg = $(this).find('img').attr('src');
						$.swipebox( [
						    { href: thisimg },
							<% @images.each do |image| %>
							{ href:'<%= image.url %>'},
							<% end %>
						] );
					} );

				</script>

	<div id="devicespecs" class="row large-8 small-12 columns float-left">
		<ul id="specslist" class="compare">
			<li id="name" style="background: linear-gradient(to right, rgb(100,150,200), white <%= @device.rating %>%);">
			<span id="name1wrap" class="float-left"><%= link_to @device.name, @device %></span>
			<span class="specname hide-for-large float-right">Name</span>
			</li>
			<li id="dimensions">
			<%= image_tag('dimensions.png') %><%= @device.dimensions %>
			<span class="specname hide-for-large float-right">Dimensions</span>
			</li>
			<li id="weight">
			<%= image_tag('weight.png') %><%= @device.weight %>
			<span class="specname hide-for-large float-right">Weight</span>
			</li>
			<li id="soc">
			<%= image_tag('soc.png') %><%= @device.soc %>
			<span class="specname hide-for-large float-right">Soc</span>
			</li>
			<li id="cpu">
			<%= image_tag('cpu.png') %><span id="cputext" class="cputext"><%= @device.cpu %></span>
			<span class="specname hide-for-large float-right">CPU</span>
			</li>
			<li id="cpucores">
			<%= image_tag('cpucores.png') %><%= @device.cpucores %>
			<span class="specname hide-for-large float-right">CPU Cores</span>
			</li>
			<li id="gpu">
			<%= image_tag('gpu.png') %><%= @device.gpu %>
			<span class="specname hide-for-large float-right">GPU</span>
			</li>
			<li id="ram">
			<%= image_tag('ram.png') %><%= @device.ram %>
			<span class="specname hide-for-large float-right">RAM</span>
			</li>
			<li id="storage">
			<%= image_tag('storage.png') %><%= @device.storage %>
			<span class="specname hide-for-large float-right">Storage</span>
			</li>
			<li id="display">
			<%= image_tag('display.png') %><%= @device.display %>
			<span class="specname hide-for-large float-right">Display</span>
			</li>
			<li id="battery">
			<%= image_tag('battery.png') %><%= @device.battery %>
			<span class="specname hide-for-large float-right">Battery</span>
			</li>
			<li id="os">
			<%= image_tag('os.png') %><%= @device.os %>
			<span class="specname hide-for-large float-right">OS</span>
			</li>
			<li id="camera">
			<%= image_tag('camera.png') %><%= @device.camera %>
			<span class="specname hide-for-large float-right">Camera</span>
			</li>
		</ul>

	</div>


</div>

<div class="row large-6 columns float-left">
<h1 class="row large-12 columns float-left hide-for-medium"><%= @device2.brand.name %> <%= @device2.name %></h1>
        <div id="gallerycont2" class="row large-4 small-12 columns float-right">
            <div id="gallerywrapper2">
                <% if @device2.thumbnail.present? %>
				<div id="gallery" class="row large-12 columns">
				    <div id="largeImage" class="imgsm2 compare2 swipebox" style="background-image: url('<%= @device2.thumbnail.url %>')"><%= image_tag(@device2.thumbnail) %></div>
				</div>
                <% else %>
				<div id="gallery" class="row large-12 columns">
				    <div id="largeImage" class="blank"><%= image_tag('nophotobig.png') %></div>
				</div>
                <% end %>

			</div>
		<% if @reviews2.present? %>
	        <div id="rating-details2" class="row large-12 columns float-left">

				<div class="rating-speed row large-12 columns float-right">
					<div class="rating-detail-bar row large-12 columns float-right" style="width: <%= @speed_rating2 %>%;"><span class="rating-detail-bar-name float-right">Speed</span>
					</div><br>
				</div>

				<div class="rating-durability row large-12 columns float-right">
					<div class="rating-detail-bar row large-12 columns float-right" style="width: <%= @durability_rating2 %>%;"><span class="rating-detail-bar-name float-right">Durability</span>
					</div><br>
				</div>

				<div class="rating-display row large-12 columns float-right">
					<div class="rating-detail-bar row large-12 columns float-right" style="width: <%= @display_rating2 %>%;"><span class="rating-detail-bar-name float-right">Display</span>
					</div><br>
				</div>

				<div class="rating-camera row large-12 columns float-right">
					<div class="rating-detail-bar row large-12 columns float-right" style="width: <%= @camera_rating2 %>%;"><span class="rating-detail-bar-name float-right">Camera</span>
					</div><br>
				</div>

				<div class="rating-price-quality row large-12 columns float-right">
					<div class="rating-detail-bar row large-12 columns float-right" style="width: <%= @price_quality_rating2 %>%;"><span class="rating-detail-bar-name float-right">Price / Quality</span>
					</div><br>
				</div>
	        
	        </div>
	    <% else %>
		        <% if user_signed_in? %>
			        <div id="reviewblank" class="row large-12 columns float-left">
			        	<h3>Ever owned this device?</h3><%= link_to "Click here to post your review.", device_path(@device2) %>
			        </div>
		        <% else %>
			        <div id="reviewblank" class="row large-6 columns float-left">
			        	<h3>Ever owned this device?</h3><%= link_to "Log in to share your opinion.", new_user_session_path %>
			        </div>
			    <% end %>
	    <% end %>
        </div>

				<script type="text/javascript">
					$(document).ready(function(){
					    $("#leftarrow2").click(function(){
					        $("#thumbs2").animate({scrollLeft: "-="+100});
					    });
					    $("#rightarrow2").click(function(){
					        $("#thumbs2").animate({scrollLeft: "+="+100});
					    });        
					});

					$( '.imgsm2' ).click( function( e ) {
						e.preventDefault();
						thisimg2 = $(this).find('img').attr('src');
						$.swipebox( [
						    { href: thisimg2 },
							<% @images2.each do |image2| %>
							{ href:'<%= image2.url %>'},
							<% end %>
						] );
					} );

				</script>


	<div id="devicespecs2" class="row large-8 small-12 columns float-left">
		<ul id="specslist2" class="compare">
			<li id="name2" style="background: linear-gradient(to left, rgb(100,150,200), white <%= @device2.rating %>%);">
			<span class="specname name compare show-for-large text-center float-left"></span>
			<span class="float-right"></span><span id="name2wrap" class="float-right"><%= link_to @device2.name, @device2 %></span>
			<span class="specname hide-for-large float-left">Name</span>
			</li>
			<li id="dimensions2">
			<span class="float-right"><%= image_tag('dimensions.png') %></span><span class="float-right"><%= @device2.dimensions %></span>
			<span class="specname hide-for-large float-left">Dimensions</span>
			<span class="specname compare show-for-large text-center float-left">Dimensions</span>
			</li>
			<li id="weight2">
			<span class="float-right"><%= image_tag('weight.png') %></span><span class="float-right"><%= @device2.weight %></span>
			<span class="specname hide-for-large float-left">Weight</span>
			<span class="specname compare show-for-large text-center float-left">Weight</span>
			</li>
			<li id="soc2">
			<span class="float-right"><%= image_tag('soc.png') %></span><span class="float-right"><%= @device2.soc %></span>
			<span class="specname hide-for-large float-left">SoC</span>
			<span class="specname compare show-for-large text-center float-left">SoC</span>
			</li>
			<li id="cpu2">
			<span class="float-right"><%= image_tag('cpu.png') %></span><span id="cputext2" class="float-right"><%= @device2.cpu %></span>
			<span class="specname hide-for-large float-left">CPU</span>
			<span class="specname compare show-for-large text-center float-left">CPU</span>
			</li>
			<li id="cpucores2">
			<span class="float-right"><%= image_tag('cpucores.png') %></span><span class="float-right"><%= @device2.cpucores %></span>
			<span class="specname hide-for-large float-left">CPU Cores</span>
			<span class="specname compare show-for-large text-center float-left">CPU Cores</span>
			</li>
			<li id="gpu2">
			<span class="float-right"><%= image_tag('gpu.png') %></span><span class="float-right"><%= @device2.gpu %></span>
			<span class="specname hide-for-large float-left">GPU</span>
			<span class="specname compare show-for-large text-center float-left">GPU</span>
			</li>
			<li id="ram2">
			<span class="float-right"><%= image_tag('ram.png') %></span><span class="float-right"><%= @device2.ram %></span>
			<span class="specname hide-for-large float-left">RAM</span>
			<span class="specname compare show-for-large text-center float-left">RAM</span>
			</li>
			<li id="storage2">
			<span class="float-right"><%= image_tag('storage.png') %></span><span class="float-right"><%= @device2.storage %></span>
			<span class="specname hide-for-large float-left">Storage</span>
			<span class="specname compare show-for-large text-center float-left">Storage</span>
			</li>
			<li id="display2">
			<span class="float-right"><%= image_tag('display.png') %></span><span class="float-right"><%= @device2.display %></span>
			<span class="specname hide-for-large float-left">Display</span>
			<span class="specname compare show-for-large text-center float-left">Display</span>
			</li>
			<li id="battery2">
			<span class="float-right"><%= image_tag('battery.png') %></span><span class="float-right"><%= @device2.battery %></span>
			<span class="specname hide-for-large float-left">Battery</span>
			<span class="specname compare show-for-large text-center float-left">Battery</span>
			</li>
			<li id="os2">
			<span class="float-right"><%= image_tag('os.png') %></span><span class="float-right"><%= @device2.os %></span>
			<span class="specname hide-for-large float-left">OS</span>
			<span class="specname compare show-for-large text-center float-left">OS</span>
			</li>
			<li id="camera2">
			<span class="float-right"><%= image_tag('camera.png') %></span><span class="float-right"><%= @device2.camera %></span>
			<span class="specname hide-for-large float-left">Camera</span>
			<span class="specname compare show-for-large text-center float-left">Camera</span>
			</li>
		</ul>

		<div id="price2" class="row large-12 columns float-right"></div>
	</div>

	<div id="comments2" class="row large-12 columns float-left">
		
	</div>



</div>
</div>
<div class="row large-12 columns float-left">
            <% if @reviews.present? %>
			<div id="reviews-container" class="row large-6 columns float-left show-for-large">
					<% @reviews.each do |review| %>
				<div class="review-wrap row large-12 columns">
					<div class="row large-12 columns float-left">
						<div class="user_av row large-2 small-2 columns float-left">
							<% if review.user.user_av.present? %>
							<%= image_tag(review.user.user_av) %>
							<% else %>
							<%= image_tag('userblank.png') %>
							<% end %>
						</div>
						<div class="review-top row large-10 small-9 columns float-left">
							<div class="row large-5 columns float-left"><%= review.user.username %></div>
							<div class="row large-7 columns float-left">
							<span class="review-overall">Overall rating: <%= review.overall %>
								<% review.overall.round.times do %>
								<%= image_tag('radiostarfilled.png') %>
								<% end %>
							</span>
							</div>
						</div>
						<div class="review-content row large-11 columns float-left">
						<span><%= review.content %></span>
						</div>
					</div>

				</div>
					<% end %>
			</div>
			<% else %>
			<div class="reviewblank row large-6 columns float-left show-for-large">
				<h3>No reviews available.</h3>
			</div>
			<% end %>

            <% if @reviews2.present? %>
			<div id="reviews-container2" class="row large-6 columns float-left show-for-large">
					<% @reviews2.each do |review| %>
				<div class="review-wrap row large-12 columns">
					<div class="row large-12 columns float-left">
						<div class="user_av row large-1 small-2 columns float-left">
							<% if review.user.user_av.present? %>
							<%= image_tag(review.user.user_av) %>
							<% else %>
							<%= image_tag('userblank.png') %>
							<% end %>
						</div>
						<div class="review-top row large-10 small-9 columns float-left">
							<div class="row large-5 columns float-left"><%= review.user.username %></div>
							<div class="row large-7 columns float-left">
							<span class="review-overall">Overall rating: <%= review.overall %>
								<% review.overall.round.times do %>
								<%= image_tag('radiostarfilled.png') %>
								<% end %>
							</span>
							</div>
						</div>
						<div class="review-content row large-11 columns float-left">
						<span><%= review.content %></span>
						</div>
					</div>

				</div>
					<% end %>
			</div>
			<% else %>
			<div class="reviewblank row large-6 columns float-left show-for-large">
				<h3>No reviews available.</h3>
			</div>
			<% end %>

</div>