<div id="masterwrapper" class="row large-12 columns">
   	<%= form_for @device do |device| %>
   <div class="formitem">
    <%= device.text_field :name, :class => "visibleclass itemname" %>
    <%= device.text_field :dimensions, :class => "visibleclass" %>
    <%= device.text_field :weight, :class => "visibleclass" %>
    <%= device.text_field :soc, :class => "visibleclass" %>
    <%= device.text_field :cpu, :class => "visibleclass" %>
    <%= device.text_field :cpucores, :class => "visibleclass" %>
    <%= device.text_field :gpu, :class => "visibleclass" %>
    <%= device.text_field :ram, :class => "visibleclass" %>
    <%= device.text_field :storage, :class => "visibleclass" %>
    <%= device.text_field :display, :class => "visibleclass" %>
    <%= device.text_field :battery, :class => "visibleclass" %>
    <%= device.text_field :os, :class => "visibleclass" %>
    <%= device.text_field :camera, :class => "visibleclass" %>
    <%= device.number_field :year, :class => "visibleclass" %>
    <%= device.file_field :thumbnailsm, :class => "thumbnail_sm" %> 
    <%= device.file_field :thumbnail %> 
    <%= device.file_field :images, multiple: true %> 
    <%= device.submit %>
   </div>
    <% end %>
<%= link_to 'Destroy',  @device,  method: :delete, data: { confirm: 'Are you sure?' } %>
    <script type="text/javascript">
        $('input.itemname').click(function() {
    $('input[type="text"]').toggleClass('visibleclass');
});
    </script>
</div>