<div id="homepage" class="row large-12 columns">

<div id="logohomewrap">
</div>
<h1 class="mb hide-for-medium">Popular devices:</h1>
</div>

<div id="home-popular" style="padding-top: 200px;">
	<div id="indexwrapper" class="row large-12 small-12 columns">
	<% @devices.each do |device| %>

	    <%= link_to device_path(device) do %>
	    <div class="indexitemwrap row large-2 small-4 columns float-left">
		    <div class="indexitem">
		    	<div class="indexthumbnail">
		    	<% if device.thumbnailsm.present? %>
		    	<%= image_tag(device.thumbnailsm) %>
		    	<% else %>
		    	<%= image_tag('nophoto.png') %>
		    	<% end %>
		    	</div>
		    	<div class="indexname">
			    	<div class="indexbrandname"><%= device.brand.name %></div>
			    	<div class="indexdevicename"><p><b><%= device.name %></b></p></div>
		    	</div>
		<div class="item-tooltip" style="margin-left: 140px;">
			<span class="index-rating">
			<% device.rating.round.times do %>
			<%= image_tag('radiostarfilled.png') %>
			<% end %>
			</span>
			<ul>
				<li><b>Dimensions:</b> <%= device.dimensions %></li>
				<li><b>CPU:</b> <%= device.cpu %></li>
				<li><b>RAM:</b> <%= device.ram %></li>
				<li><b>Display:</b> <%= device.display %></li>
				<li><b>Camera:</b> <%= device.camera %></li>
			</ul>
		</div>
		    </div>

	    </div>
	    <% end %>


	<% end %>
	</div>

</div>
