<div id="masterwrapper" class="row large-12 columns">
<div class="row" id="yieldwrapper">
<div class="row large-8 small-12 columns float-left">
<h2>Popular devices:</h2>
</div>

	<div id="indexwrapper" class="row large-12 small-12 columns float-left">
	<% @devices.each do |device| %>

	    <%= link_to device_path(device) do %>
	    <div class="indexitemwrap row large-2 small-4 columns float-left">
		    <div class="indexitem">
		    	<div class="indexthumbnail">
		    	<% if device.thumbnailsm.present? %>
		    	<%= image_tag(device.thumbnailsm) %>
		    	<% else %>
		    	<%= image_tag('nophoto.png') %>
		    	<% end %>
		    	</div>
		    	<div class="indexname">
			    	<div class="indexbrandname"><%= device.brand.name %></div>
			    	<div class="indexdevicename"><p><b><%= device.name %></b></p></div>
		    	</div>
		<div class="item-tooltip">
			<span class="index-rating">
			<% device.rating.round.times do %>
			<%= image_tag('radiostarfilled.png') %>
			<% end %>
			</span>
			<ul>
				<li><b>Dimensions:</b> <%= device.dimensions %></li>
				<li><b>CPU:</b> <%= device.cpu %></li>
				<li><b>RAM:</b> <%= device.ram %></li>
				<li><b>Display:</b> <%= device.display %></li>
				<li><b>Camera:</b> <%= device.camera %></li>
			</ul>
		</div>
		    </div>
	    </div>
	    <% end %>


	<% end %>
	<div class="row large-12 columns float-left"><%= will_paginate %></div>
	</div>

</div>
</div>
