<div id="masterwrapper" class="row large-12 columns">
<div id="branddevices" class="row large-12 columns">
        <div id="brandpicwrap" class="row large-1 small-3 columns float-left">
			<%= link_to brand_path(@device.brand) do %>
			<%= image_tag(@device.brand.brandav, :class => "brandpic")%>
			<% end %>
		</div>
		<div id="brandslist" class="row large-11 small-9 columns float-left">
			<% @brands.each do |brand| %>
            <%= link_to brand_path(brand) do %>
			<%= image_tag(brand.brandav)%>
			<% end %>
			<% end %>
		</div>
</div>

<div class="row large-12 columns" id="devlabel">

		<div id="topad" class="row large-8 columns float-right">
		</div>
		<div id="branddet" class="row large-4 columns float-right">
			<span id="devname"><%= @device.brand.name %> <%= @device.name %></span>
			<span id="device-rating">
			<% @device.rating.round.times do %>
			<%= image_tag('radiostarfilled.png') %>
			<% end %>
			</span>
			<span id="views"><%= image_tag('viewseye.png') %><%= "#{@device.impressions_count}" %></span>
		</div>

</div>

<div class="row" id="yieldwrapper">
<div id="leftwrap" class="row large-8 columns float-left">
        <div id="gallerycont" class="row large-6 small-12 columns float-left">
            <div id="gallerywrapper">
                <% if @device.thumbnail.present? %>
				<div id="gallery" class="row large-12 columns imgsm swipebox">
				    <div id="largeImage" style="background-image: url('<%= @device.thumbnail.url %>')"><%= image_tag(@device.thumbnail) %></div>
				</div>
                <% else %>
				<div id="gallery" class="row large-12 columns">
				    <div id="largeImage" class="blank"><%= image_tag('nophotobig.png') %></div>
				</div>
                <% end %>

                <% if @device.images.count > 1 %>
					<div id="thumbswrap" class="row large-12 columns float-left">
					<div id="leftarrow"></div>
					<div id="rightarrow"></div>
							<div id="thumbs">
							    <% @images.each do |image| %>
							    <div class="imgsm swipebox">
			                    <%= image_tag(image) %>
			                    </div>
							    <% end %>
							</div>
					</div>
				<% end %>
				<script type="text/javascript">
                    $('#thumbswrap').hover(
						  function() {
						    $('#leftarrow').show(100);
						    $('#rightarrow').show(100);
						  }, function() {
						  	$('#leftarrow').hide(100);
						    $('#rightarrow').hide(100);
						  });

					$(document).ready(function(){
					    $("#leftarrow").click(function(){
					        $("#thumbs").animate({scrollLeft: "-="+200});
					    });
					    $("#rightarrow").click(function(){
					        $("#thumbs").animate({scrollLeft: "+="+200});
					    });        
					});

					$( '.imgsm' ).click( function( e ) {
						e.preventDefault();
						thisimg = $(this).find('img').attr('src');
						$.swipebox( [
						    { href: thisimg },
							<% @images.each do |image| %>
							{ href:'<%= image.url %>'},
							<% end %>
						] );
					} );

				</script>
			</div>
        </div>

	<div id="devicespecs" class="row large-6 small-12 columns float-left">
		<ul id="specslist">
			<li id="dimensions">
			<span class="blank hide-for-large float-left"></span>
			<%= image_tag('dimensions.png') %><%= @device.dimensions %>
			<span class="specname float-right">Dimensions</span>
			</li>
			<li id="weight">
			<span class="blank hide-for-large float-left"></span>
			<%= image_tag('weight.png') %><%= @device.weight %>
			<span class="specname float-right">Weight</span>
			</li>
			<li id="soc">
			<span class="blank hide-for-large float-left"></span>
			<%= image_tag('soc.png') %><%= @device.soc %>
			<span class="specname float-right">SoC</span>
			</li>
			<li id="cpu">
			<span class="blank hide-for-large float-left"></span>
			<%= image_tag('cpu.png') %><span id="cputext"><%= @device.cpu %></span>
			<span class="specname float-right">CPU</span>
			</li>
			<li id="cpucores">
			<span class="blank hide-for-large float-left"></span>
			<%= image_tag('cpucores.png') %><%= @device.cpucores %>
			<span class="specname float-right">CPU Cores</span>
			</li>
			<li id="gpu">
			<span class="blank hide-for-large float-left"></span>
			<%= image_tag('gpu.png') %><%= @device.gpu %>
			<span class="specname float-right">GPU</span>
			</li>
			<li id="ram">
			<span class="blank hide-for-large float-left"></span>
			<%= image_tag('ram.png') %><%= @device.ram %>
			<span class="specname float-right">RAM</span>
			</li>
			<li id="storage">
			<span class="blank hide-for-large float-left"></span>
			<%= image_tag('storage.png') %><%= @device.storage %>
			<span class="specname float-right">Storage</span>
			</li>
			<li id="display">
			<span class="blank hide-for-large float-left"></span>
			<%= image_tag('display.png') %><%= @device.display %>
			<span class="specname float-right">Display</span>
			</li>
			<li id="battery">
			<span class="blank hide-for-large float-left"></span>
			<%= image_tag('battery.png') %><%= @device.battery %>
			<span class="specname float-right">Battery</span>
			</li>
			<li id="os">
			<span class="blank hide-for-large float-left"></span>
			<%= image_tag('os.png') %><%= @device.os %>
			<span class="specname float-right">OS</span>
			</li>
			<li id="camera">
			<span class="blank hide-for-large float-left"></span>
			<%= image_tag('camera.png') %><%= @device.camera %>
			<span class="specname float-right">Camera</span>
			</li>
		</ul>
		
	</div>

	    <div class="row large-12 columns float-left">
	        <% if @reviews.present? %>
		        <div id="rating-details" class="row large-6 columns float-left">
					<div class="rating-speed row large-12 columns float-left">
						<div class="rating-detail-bar row large-12 columns float-left" style="width: <%= @speed_rating %>%;"><span class="rating-detail-bar-name">Speed</span>
						</div><br>
					</div>

					<div class="rating-durability row large-12 columns float-left">
						<div class="rating-detail-bar row large-12 columns float-left" style="width: <%= @durability_rating %>%;"><span class="rating-detail-bar-name">Durability</span>
						</div><br>
					</div>

					<div class="rating-display row large-12 columns float-left">
						<div class="rating-detail-bar row large-12 columns float-left" style="width: <%= @display_rating %>%;"><span class="rating-detail-bar-name">Display</span>
						</div><br>
					</div>

					<div class="rating-camera row large-12 columns float-left">
						<div class="rating-detail-bar row large-12 columns float-left" style="width: <%= @camera_rating %>%;"><span class="rating-detail-bar-name">Camera</span>
						</div><br>
					</div>

					<div class="rating-price-quality row large-12 columns float-left">
						<div class="rating-detail-bar row large-12 columns float-left" style="width: <%= @price_quality_rating %>%;"><span class="rating-detail-bar-name">Price / Quality</span>
						</div><br>
					</div>
		        </div>
			<div id="descriptioncont" class="row large-6 columns float-left">
				<div id="descriptionwrap">
					<span id="description">
						<b><%= @device.brand.name %> <%= @device.name %></b> <%= @device.year %> is an <%= @device.os %>-based device with a <%= @device.display %> display and a <%= @device.cpucores %>-cored <%= @device.cpu %> CPU. It comes with <%= @device.storage %> of storage and weights <%= @device.weight %>.
					</span>
				</div>
			</div>
		        <% if user_signed_in? %>
		        <% unless @reviews.where(user_id: current_user.id).exists? %>
			        <div id="reviewblank" class="row large-12 columns float-left">
			        	<h2>Ever owned this device?</h2><a onclick="$('#reviewformwrap').show();">Click here to post your review.</a>
			        </div>
			    <% end %>
		        <% else %>
			        <div id="reviewblank" class="row large-12 columns float-left">
			        	<h2>Ever owned this device?</h2><%= link_to "Log in to share your opinion.", new_user_session_path %>
			        </div>
			    <% end %>
	        <% else %>
		        <% if user_signed_in? %>
		        <% unless @reviews.where(user_id: current_user.id).exists? %>
			        <div id="reviewblank" class="row large-6 columns float-left">
			        	<h2>Ever owned this device?</h2><a onclick="$('#reviewformwrap').show();">Click here to post your review.</a>
			        </div>
                <% end %>
		        <% else %>
			        <div id="reviewblank" class="row large-6 columns float-left">
			        	<h2>Ever owned this device?</h2><%= link_to "Log in to share your opinion.", new_user_session_path %>
			        </div>
			    <% end %>
			<div id="descriptioncont" class="row large-6 columns float-left">
				<div id="descriptionwrap">
					<span id="description">
						<b><%= @device.brand.name %> <%= @device.name %></b> <%= @device.year %> is an <%= @device.os %>-based device with a <%= @device.display %> display and a <%= @device.cpucores %>-cored <%= @device.cpu %> CPU. It comes with <%= @device.storage %> of storage and weights <%= @device.weight %>.
					</span>
				</div>
			</div>
	        <% end %>

	    </div>

		<div id="reviewscontainer" class="row large-12 columns float-left">
		<% if user_signed_in? %>
		    <% unless @reviews.where(user_id: current_user.id).exists? %>
			<div id="reviewformwrap">
				<%= form_for([@device, @device.reviews.build(params[current_user])]) do |f| %>
				<div class="row large-12 columns float-left">
					<div class="user_av row large-1 columns float-left">
					<% if current_user.user_av.present? %>
					<%= image_tag(current_user.user_av) %>
				    <% else %>
				    <%= image_tag('userblank.png') %>
				    <% end %>
					</div>
					<div id="reviewformcontent" class="row large-11 columns float-left">
					<%= f.text_field :content %>
					</div>
				</div>
				<div class="radios">
				<%= f.label "Speed" %>
				<label class="radio"><%= f.radio_button(:speed, '1', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:speed, '2', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:speed, '3', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:speed, '4', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:speed, '5', :class => "radiobtn") %></label>
				</div><br>
				<div class="radios">
				<%= f.label "Durability" %>
				<label class="radio"><%= f.radio_button(:durability, '1', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:durability, '2', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:durability, '3', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:durability, '4', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:durability, '5', :class => "radiobtn") %></label>
				</div><br>
				<div class="radios">
				<%= f.label "Display" %>
				<label class="radio"><%= f.radio_button(:display, '1', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:display, '2', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:display, '3', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:display, '4', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:display, '5', :class => "radiobtn") %></label>
				</div><br>
				<div class="radios">
				<%= f.label "Camera" %>
				<label class="radio"><%= f.radio_button(:camera, '1', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:camera, '2', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:camera, '3', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:camera, '4', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:camera, '5', :class => "radiobtn") %></label>
				</div><br>
				<div class="radios">
				<%= f.label "Price / Quality" %>
				<label class="radio"><%= f.radio_button(:price_quality, '1', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:price_quality, '2', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:price_quality, '3', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:price_quality, '4', :class => "radiobtn") %></label>
				<label class="radio"><%= f.radio_button(:price_quality, '5', :class => "radiobtn") %></label>
				</div><br>
				<%= f.submit %>
				<% end %>
			</div>
			<% end %>
		<% end %>
		<script type="text/javascript">
			$('.radios').each(function(){
				$(this).children('.radio').bind("click", function() {
					$(this).find('input[type="radio"]:checked').parent().addClass('filled');
					$(this).find('input[type="radio"]:checked').parent().prevAll().addClass('filled');
					$(this).find('input[type="radio"]:checked').parent().nextAll().removeClass('filled');
				});
			});
		</script>

			<div id="reviews-container" class="row large-12 columns">
					<% @reviews.each do |review| %>
				<div class="review-wrap row large-12 columns">
					<div class="row large-12 columns float-left">
						<div class="user_av row large-1 small-2 columns float-left">
							<% if review.user.user_av.present? %>
							<%= image_tag(review.user.user_av) %>
							<% else %>
							<%= image_tag('userblank.png') %>
							<% end %>
						</div>
						<div class="review-top row large-11 small-9 columns float-left">
							<div class="review-author row large-7 columns float-left">
							<% if review.user.username.present? %>
							<%= review.user.username %>
							<% else %>
							<%= review.user.email %>
							<% end %>
							</div>
							<div class="row large-5 columns float-left">
							<span class="review-overall">Overall rating: <%= review.overall %>
								<% review.overall.round.times do %>
								<%= image_tag('radiostarfilled.png') %>
								<% end %>
							</span>
							</div>
						</div>
						<div class="review-content row large-11 columns float-left">
						<span><%= review.content %></span>
						</div>
					</div>
					<div class="review-ratings row large-12 columns float-left">
						<div class="ratings-wrap">
							<div class="review-rating row large-2 columns float-left review-speed">
							Speed:
								<% review.speed.times do %>
								<%= image_tag('radiostarfilledsm.png') %>
								<% end %>
							</div>
							<div class="review-rating row large-2 columns float-left review-durability">
							Durability:
								<% review.durability.times do %>
								<%= image_tag('radiostarfilledsm.png') %>
								<% end %>
							</div>
							<div class="review-rating row large-2 columns float-left review-display">
							Display:
								<% review.display.times do %>
								<%= image_tag('radiostarfilledsm.png') %>
								<% end %>
							</div>
							<div class="review-rating row large-2 columns float-left review-camera">
							Camera:
								<% review.camera.times do %>
								<%= image_tag('radiostarfilledsm.png') %>
								<% end %>
							</div>
							<div class="review-rating row large-3 columns float-left review-price-quality">
							Price / Quality:
								<% review.price_quality.times do %>
								<%= image_tag('radiostarfilledsm.png') %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
					<% end %>
			</div>
		</div>

</div>


<div id="rightwrap" class="row large-4 columns float-right">

	<div id="comparewrap" class="row large-12 columns" data="<%= @device.id %>">
	<span>Compare to:</span>
    <%= form_for device_compare_path(@device) do |f| %>
		<%= f.label :brand, "Brand:" %>
		<%= f.collection_select :brand, Brand.order(:name), :id, :name %>
		<%= f.label :device, "Device:" %>
		<%= f.grouped_collection_select :device, Brand.order(:name), :devices, :name, :id, :name %>
    <% end %>
        <a id="comparelink">Compare</a>
        <script type="text/javascript">
        	devid = $('#comparewrap').attr('data');
        	compareid = $('#_devices_'+window.devid+'_compare_device option:selected').attr('value');
        	$('#comparelink').attr('href', '/devices/'+devid+'/compare?dev='+compareid);
        </script>
	</div>

	<div id="banner2" class="row large-12 columns" data="<%= @device.id %>">
	</div>


	<div id="popularwrap" class="row large-12 columns" data="<%= @device.id %>">
	<h4 id="popular-title">Popular devices</h4>
	<% @popular.each do |device| %>
	    <%= link_to device_path(device) do %>
    <div class="indexitemwrap row large-4 small-4 columns float-left">
	    <div class="indexitem">
	    	<div class="indexthumbnail">
		    	<% if device.thumbnailsm.present? %>
		    	<%= image_tag(device.thumbnailsm) %>
		    	<% else %>
		    	<%= image_tag('nophoto.png') %>
		    	<% end %>
	    	<%= image_tag(device.thumbnailsm) %>
	    	</div>
	    	<div class="indexname">
		    	<div class="indexbrandname"><%= device.brand.name %></div>
		    	<div class="indexdevicename"><p><b><%= device.name %></b></p></div>
	    	</div>
		<div class="item-tooltip">
			<span class="index-rating">
			<% device.rating.round.times do %>
			<%= image_tag('radiostarfilled.png') %>
			<% end %>
			</span>
			<ul>
				<li><b>Dimensions:</b> <%= device.dimensions %></li>
				<li><b>CPU:</b> <%= device.cpu %></li>
				<li><b>RAM:</b> <%= device.ram %></li>
				<li><b>Display:</b> <%= device.display %></li>
				<li><b>Camera:</b> <%= device.camera %></li>
			</ul>
		</div>
	    </div>
    </div>
	    <% end %>
	<% end %>
	</div>



</div>




</div>
</div>