// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#yieldwrapper h2 {
	padding-left: 20px;
	color: rgb(130,130,130);
}

