    <%= f.fields_for :devices, [Device.new] do |device| %>
   <div class="formitem">
    <%= device.text_field :name %>
    <%= device.text_field :dimensions %>
    <%= device.text_field :weight %>
    <%= device.text_field :soc %>
    <%= device.text_field :cpu %>
    <%= device.text_field :cpucores %>
    <%= device.text_field :gpu %>
    <%= device.text_field :ram %>
    <%= device.text_field :storage %>
    <%= device.text_field :display %>
    <%= device.text_field :battery %>
    <%= device.text_field :os %>
    <%= device.text_field :camera %>
    <%= device.number_field :year %>
    <%= device.file_field :thumbnailsm, :class => "thumbnail_sm" %> 
    <%= device.file_field :thumbnail %> 
    <%= device.file_field :images, multiple: true %> 
   </div>
    <% end %>