<%= form_for @brand do |f| %>
		
		<%= f.fields_for :devices do |device| %>
		<div class="formitem">
		    <%= device.text_field :id, :placeholder => "device.id", :class => "visibleclass id" %>
		    <%= device.text_field :name, :class => "visibleclass name" %>
		    <%= device.text_field :dimensions, :class => "visibleclass" %>
		    <%= device.text_field :weight, :class => "visibleclass" %>
		    <%= device.text_field :soc, :class => "visibleclass" %>
		    <%= device.text_field :cpu, :class => "visibleclass" %>
		    <%= device.text_field :cpucores, :class => "visibleclass" %>
		    <%= device.text_field :gpu, :class => "visibleclass" %>
		    <%= device.text_field :ram, :class => "visibleclass" %>
		    <%= device.text_field :storage, :class => "visibleclass" %>
		    <%= device.text_field :display, :class => "visibleclass" %>
		    <%= device.text_field :battery, :class => "visibleclass" %>
		    <%= device.text_field :os, :class => "visibleclass" %>
		    <%= device.text_field :camera, :class => "visibleclass" %>
		    <%= device.number_field :year, :class => "visibleclass" %>
		</div>
		<% end %>
<% end %>