<div id="masterwrapper" class="row large-12 columns">

<%= form_for @brand do |f| %>
		<%= f.fields_for :devices do |device| %>
		<div class="formitem">
		    <%= device.label :id %>
		    <%= device.text_field :id, :placeholder => "device.id", :class => "visibleclass id" %>
		    <%= device.label :name %>
		    <%= device.text_field :name, :class => "visibleclass name" %>
		    <%= device.label :dimensions %>
		    <%= device.text_field :dimensions, :class => "visibleclass" %>
		    <%= device.label :weight %>
		    <%= device.text_field :weight, :class => "visibleclass" %>
		    <%= device.label :soc %>
		    <%= device.text_field :soc, :class => "visibleclass" %>
		    <%= device.label :cpu %>
		    <%= device.text_field :cpu, :class => "visibleclass" %>
		    <%= device.label :cpucores %>
		    <%= device.text_field :cpucores, :class => "visibleclass" %>
		    <%= device.label :gpu %>
		    <%= device.text_field :gpu, :class => "visibleclass" %>
		    <%= device.label :ram %>
		    <%= device.text_field :ram, :class => "visibleclass" %>
		    <%= device.label :storage %>
		    <%= device.text_field :storage, :class => "visibleclass" %>
		    <%= device.label :display %>
		    <%= device.text_field :display, :class => "visibleclass" %>
		    <%= device.label :battery %>
		    <%= device.text_field :battery, :class => "visibleclass" %>
		    <%= device.label :os %>
		    <%= device.text_field :os, :class => "visibleclass" %>
		    <%= device.label :camera %>
		    <%= device.text_field :camera, :class => "visibleclass" %>
		    <%= device.label :year %>
		    <%= device.number_field :year, :class => "visibleclass" %>
		</div>
		<% end %>
<% end %>


</div>