<div id="masterwrapper" class="row large-12 columns">
<div class="row" id="yieldwrapper">
<h2>Choose brand:</h2>
	<div id="indexwrapper" class="row large-12 small-12 columns float-left">

			<% @brands.each do |brand| %>
			<div class="brand-indexitem large-2 columns float-left">
            <%= link_to brand_path(brand) do %>
			<%= image_tag(brand.brandav)%>
			<% end %>
			</div>
			<% end %>
	</div>



</div>
</div>
