<div id="masterwrapper" class="row large-12 columns">

<%= form_for @brand do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />
  <%= f.file_field :brandav %>

  <%= f.submit %>
<% end %>
</div>