<div id="masterwrapper" class="row large-12 columns">
<% if user_signed_in? %>
<% if current_user.admin? %>
<div class="row large-12 columns">
	<%= link_to "Add Device", new_brand_device_path(@brand) %>
</div>
<% end %>
<% end %>
<div id="branddevices" class="row large-12 columns">
        <div id="brandpicwrap" class="row large-1 small-2 columns float-left">
			<%= link_to brand_path(@brand) do %>
			<%= image_tag(@brand.brandav, :class => "brandpic")%>
			<% end %>
		</div>
		<div id="brandslist" class="row large-11 small-10 columns float-left">
			<% @brands.each do |brand| %>
            <%= link_to brand_path(brand) do %>
			<%= image_tag(brand.brandav)%>
			<% end %>
			<% end %>
		</div>
</div>

<div class="row" id="yieldwrapper">
<div class="row large-8 small-12 columns float-left">
	<h2><%= @brand.name %> devices:</h2>
</div>
<div id="indexwrapper" class="row large-8 small-12 columns float-left">
<% @devices.each do |device| %>

    <%= link_to device_path(device) do %>
    <div class="indexitemwrap row large-2 small-4 columns float-left">
	    <div class="indexitem">
	    	<div class="indexthumbnail">
		    	<% if device.thumbnailsm.present? %>
		    	<%= image_tag(device.thumbnailsm) %>
		    	<% else %>
		    	<%= image_tag('nophoto.png') %>
		    	<% end %>
	    	<%= image_tag(device.thumbnailsm) %>
	    	</div>
	    	<div class="indexname">
		    	<div class="indexbrandname"><%= device.brand.name %></div>
		    	<div class="indexdevicename"><p><b><%= device.name %></b></p></div>
	    	</div>
		<div class="item-tooltip">
			<span class="index-rating">
			<% device.rating.round.times do %>
			<%= image_tag('radiostarfilled.png') %>
			<% end %>
			</span>
			<ul>
				<li><b>Dimensions:</b> <%= device.dimensions %></li>
				<li><b>CPU:</b> <%= device.cpu %></li>
				<li><b>RAM:</b> <%= device.ram %></li>
				<li><b>Display:</b> <%= device.display %></li>
				<li><b>Camera:</b> <%= device.camera %></li>
			</ul>
		</div>
	    </div>
    </div>
    <% end %>


<% end %>
</div>
<div id="rightwrap" class="row large-4 columns float-right">
	<div id="popularwrap" class="row large-12 columns" data="<%= @brand.id %>">
	<h4 id="popular-title">Popular devices</h4>
	<% @popular.each do |device| %>
	    <%= link_to device_path(device) do %>
    <div class="indexitemwrap row large-4 small-4 columns float-left">
	    <div class="indexitem">
	    	<div class="indexthumbnail">
		    	<% if device.thumbnailsm.present? %>
		    	<%= image_tag(device.thumbnailsm) %>
		    	<% else %>
		    	<%= image_tag('nophoto.png') %>
		    	<% end %>
	    	<%= image_tag(device.thumbnailsm) %>
	    	</div>
	    	<div class="indexname">
		    	<div class="indexbrandname"><%= device.brand.name %></div>
		    	<div class="indexdevicename"><p><b><%= device.name %></b></p></div>
	    	</div>
		<div class="item-tooltip">
			<span class="index-rating">
			<% device.rating.round.times do %>
			<%= image_tag('radiostarfilled.png') %>
			<% end %>
			</span>
			<ul>
				<li><b>Dimensions:</b> <%= device.dimensions %></li>
				<li><b>CPU:</b> <%= device.cpu %></li>
				<li><b>RAM:</b> <%= device.ram %></li>
				<li><b>Display:</b> <%= device.display %></li>
				<li><b>Camera:</b> <%= device.camera %></li>
			</ul>
		</div>
	    </div>
    </div>
	    <% end %>
	<% end %>
	</div>
</div>
</div>
</div>
