<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "custom" %>
    <%= stylesheet_link_tag    "swipebox" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "jquery.swipebox", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

            <div id="topbar">
               <div class="row">
                 <span id="logo"><%= link_to image_tag("logo"), root_path %></span>
               </div>
            </div>

  <div id="masterwrapper" class="row large-12 columns">


    <%= yield %>
  </div>
  </body>
</html>
